<html>
<head>
<head/>
<body>
<h1>Flights search<h1/>
<form action="/flightInformation" method = "POST">
    <input type="text" name = "source" placeholder="Source Airport" required/> </br>
    <input type="text" name = "destination" placeholder="Destination Airport" required/> </br>
    <input type="text" name = "departure" placeholder="departure date (yyyy-mm-dd)" required/> </br>
    <input type="text" name = "return" placeholder="return date (yyyy-mm-dd)" value="NULL" /> </br>
    <input type="submit" value = Search />
</form>

<body/>


<html/>